<ng-container [ngSwitch]="tutorielLinkId">
  <ng-container *ngSwitchCase="1">
    <div class="jumbotron text-center">
        <h1>Mini tutoriel Angular 10</h1>
        <p>Sur cette page vous allez en apprendre plus sur Angular</p> 
      </div>
        
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>Introduction</h3>
            <p>Angular est un framework JavaScript développé par Google et reconnu pour être l'un des frameworks les plus complets. Il embarque en effet nativement nombre de fonctionnalités le qualifiant pour le développement d'applications web, même les plus complexes.</p>
            <p>Grâce à son évolution, Angular est cependant également adapté à tout projet d'application de bureau ou mobile. Rapide à déployer et puissant, il sait convaincre petites et grandes entreprises.</p>
          </div>
          <div class="col-sm-4">
            <h3>Histoire d'Angular</h3>
            <p>Angular est parfois également appelé Angular v2 et plus ou Angular 2+. Il est en effet une réécriture complète d'AngularJS, la première version de ce framework côté client que l'on doit à Google. Pour éviter la confusion entre le nom du framework et le numéro des versions, AngularJS continue de nommer la première version.</p>
            <p>Les versions 2 et ultérieures ont perdu le « JS » (pour JavaScript) et le framework s'appelle désormais tout simplement Angular.</p>
          </div>
          <div class="col-sm-4">
            <h3>Avantages d'Angular</h3>        
            <p>Contrairement à l'un de ses principaux concurrents, React, Angular ne sert pas seulement à créer des composants. Il est au contraire un framework complet proposant au développeur tous les outils nécessaires au développement d'applications web, mobile et desktop. Incluant des outils de routing ou de gestion du http, Angular embarque tout ce dont une entreprise peut avoir besoin pour développer une application.</p>
            <p>Il permet en plus de les faire évoluer au fur et à mesure du développement des besoins d'une entreprise.</p>
          </div>
        </div>
      </div>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <div class="jumbotron text-center">
        <h1>Mini tutoriel Crud</h1>
        <p>Sur cette page vous en allez en apprendre d'avantage sur les opérations du crud</p>
        <hr>
        <p>Le terme CRUD est étroitement lié avec la gestion des données numériques. Plus précisément, CRUD est un acronyme des noms des quatre opérations de base de la gestion de la persistance des données et applications</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h3>Create</h3>
            <p>Cet opération permet de crée un objet afin de répondre à un besoin d'un contexte quelconque</p>
          </div>
          <div class="col-sm-3">
            <h3>Read</h3>
            <p>Cet opération permet de lire un objet afin de répondre à un besoin d'un contexte quelconque</p>
          </div>
          <div class="col-sm-3">
            <h3>Update</h3>        
            <p>Cet opération permet de modifier un objet afin de répondre à un besoin d'un contexte quelconque</p>
          </div>
          <div class="col-sm-3">
            <h3>Delete</h3>  
            <p>Cet opération permet de suprimer un objet afin de répondre à un besoin d'un contexte quelconque</p>
          </div>
        </div>
      </div>
  </ng-container>
  <ng-container *ngSwitchCase="3">
    <div class="jumbotron text-center">
        <h1>Mini tutoriel sur les relations</h1>
        <p>Sur cette page vous allez en apprendre d'avantage sur les relations entre les classes</p> 
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3>Les différents types de relations</h3>
            <img src="./../../../assets/images/relations-1.PNG" alt="relation1"/>
          </div>
          <div class="col-lg-6">
            <h3>Les différents types d'associations</h3>
            <img src="./../../../assets/images/relations-2.PNG" alt="relation2"/>
          </div>
        </div>
      </div>
  </ng-container>
  <ng-container *ngSwitchCase="4">
    <div class="jumbotron text-center">
        <h1>Lorem, ipsum dolor.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quibusdam?</p> 
      </div>
        
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-4">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-4">
            <h3>Lorem, ipsum.</h3>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
        </div>
      </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="jumbotron text-center">
        <h1>Rien du tout</h1>
        <p>Resize this responsive page to see the effect!</p> 
      </div>
        
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-4">
            <h3>Column 3</h3>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
        </div>
      </div>
  </ng-container>
</ng-container>